version: "3"
services:
  db:
    image: {{ DATABASE_IMAGE }}:{{ DATABASE_IMAGE_VERSION }}
    container_name: db
    volumes:
      - db_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER={{DATABASE_USER}}
      - POSTGRES_PASSWORD={{DATABASE_PASSWORD}}
  app:
    image: {{ APPLICATION_IMAGE }}:{{ APPLICATION_IMAGE_VERSION}}
    container_name: {{APPLICATION_CONTAINER_NAME}}
    ports:
      - 9080:8080
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/postgres
      - SPRING_DATASOURCE_USERNAME={{DATABASE_USER}}
      - SPRING_DATASOURCE_PASSWORD={{DATABASE_PASSWORD}}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_SERVER_PORT={{APPLICATION_SERVER_PORT}}
    depends_on:
      - db

volumes:
  db_data:
networks:
  Network_{{ PROJECT_NAME }}:
